mesa*
lectures
tides-project*
iso*
tutorial
py_mesa*
data/grid_*/*out
data/grid_*/*_M*_Z*/LOGS
data/grid_*/*_M*_Z*/photos
data/grid_*/*_M*_Z*/und*
doc/MIST/MIST*
doc/MIST/*
data/grid_0/*
data/grid_1/*
data/grid_2/*
data/grid_3/*
data/grid_Choi_repl/*
data/grid_production_0/*
data/grid_production_randomized/*
*aux
*log
*out
*synctex*
/src/choi*
